<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="/"><img src="{{{or site.url (or siteRootUrl siteRootPath)}}}/_/img/logo-white.svg"></a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Domains</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/docs/ats-commons">ATS Commons</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Producers</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/docs/bullhorn-producer">Bullhorn SQL Server</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Consumers</a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="/docs/brightmove-consumer">BrightMove Direct</a>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-divider"/>
  </nav>
</header>
