body {
  counter-reset: h2;
}

h1 {
  counter-reset: h2;
}

h2::before {
  content: counter(h2) ".\0000a0\0000a0";
  counter-increment: h2;
}

h2 {
  counter-reset: h3;
}

h3 {
  counter-reset: h4;
}

h3::before {
  content: counter(h2) "." counter(h3) ".\0000a0\0000a0";
  counter-increment: h3;
}

h4::before {
  content: counter(h2) "." counter(h3) "." counter(h4) ".\0000a0\0000a0";
  counter-increment: h4;
}

.toc-menu h3::before {
  content: none;
  counter-increment: none;
}
